

<div class="hide">
  <!-- {{dataScreenplay[0]['title']}} -->
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource2"  matSort class="mat-elevation-z8">
  
    <ng-container matColumnDef="row" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header class=""  style="padding-right: 20px"> ردیف </th>
      <td mat-cell *matCellDef="let element"  class="tar font-td" style="padding-right: 20px"> {{element.row}} </td>
    </ng-container>
  
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef class="hide"> No. </th>
      <td mat-cell *matCellDef="let element" class="hide"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="title" style="width: 15%;" > عنوان فیلمنامه </th>
      <td mat-cell *matCellDef="let element" class="tar font-td"> {{element.title}} </td>
      
    </ng-container>
 
    <ng-container matColumnDef="baravordNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;width:10%"> شماره برآورد </th>
      <td mat-cell *matCellDef="let element" style=" text-align: center;"> {{element.baravordNo}} </td>
    </ng-container>

    <ng-container matColumnDef="writer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> نویسنده </th>
      <td mat-cell *matCellDef="let element"  class="tar font-td"> {{element.writer}} </td>
    </ng-container>
    
    <ng-container matColumnDef="producer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > تهیه کننده </th>
      <td mat-cell *matCellDef="let element"  class="tar font-td"> {{element.producer}} </td>
    </ng-container>
    
    <ng-container matColumnDef="format">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> قالب </th>
      <td mat-cell *matCellDef="let element"  class="tar font-td"> {{element.format}} </td>
    </ng-container>
    
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ژنر </th>
      <td mat-cell *matCellDef="let element"  class="tar font-td"> {{element.genre}} </td>
    </ng-container>
    
    
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr> 
    <!-- <mat-row  *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></mat-row> -->
  </table>

    <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
