
    <app-barname-info [item]="selectedOption" (cancelRegister)="cancelRegisterMode($event)"></app-barname-info>
<div style="margin-left: 1%; margin-right: 1%; height: 2000px;" 
(mousedown)="mouseClickDown($event)"
(mouseup)="mouseClickUp($event)">
    <form [formGroup]="resourceForm" >

      <div class="row">
        <div class="col">
          <div class="form-group">
          
            <ejs-dropdownlist 
            [(ngModel)]="selectedOption"
            enableRtl='true' 
            floatLabelType="Auto" 
            id='ddlelement' 
            #samples 
            [dataSource]='dataResource' 
            [fields]='fieldResource' 
            formControlName="resourceId" 
            [placeholder]='textResource' [allowFiltering]='true' 
            (filtering)='onFilteringResource($event)'
            (change)="onChangeResource($event.value)">a
          </ejs-dropdownlist>
        
          </div>
        </div>

        <div class="col">
          <div class="form-group">
          
            <ejs-dropdownlist 
            [(ngModel)]="selectedCapacity"
            enableRtl='true' 
            floatLabelType="Auto" 
            id='requestResId' 
            #samples 
            [dataSource]='data' 
            [fields]='capacityFields' 
            formControlName="capacity"
            [placeholder]='textCapacity' 
            (change)="onChangeRequestRes($event.value)"
            >
            </ejs-dropdownlist>
        
          </div>
        </div>

        <div class="col" style="width: 50px;">
          <div class="form-group" >
            
            <div class="" >
              <span class="" style="color: rgb(160, 159, 159);"></span>
                  <div style="height: 30px;;border-bottom:  1px solid rgb(160, 159, 159);  margin-top: 20px; text-align: right ;" >
                     
                
                  {{resourceUnit}}
                  
                  </div>
            
              
              
          
          </div>
    
    
          </div>
        </div>
    
     
        <div class="col">
          <div class="form-group">
          
            <ejs-dropdownlist 
            enableRtl='true' 
            floatLabelType="Auto" 
            id='yearId' 
            #samples 
            [dataSource]='yearData' 
            [fields]='yearFields' 
           
            formControlName="yearFormControl"
            [placeholder]='textYear' 
            (change)="onChangeYear($event.value)"
            >
            </ejs-dropdownlist>
        
          </div>
        </div>
     
     
        <div class="col">
          <div class="form-group">
          
            <ejs-dropdownlist 
            enableRtl='true' 
            floatLabelType="Auto" 
            id='monthId' 
            #samples 
            [dataSource]='monthData' 
            [fields]='fieldMonth' 
            formControlName="monthFormControl"
            [placeholder]='textMonth' 
            (change)="onChangeMonth($event.value)"
            >
            </ejs-dropdownlist>
        
          </div>
        </div>
     
     
      </div>

    </form>
    <button (click)="onSave()">test2</button>
    <button (click)="register()">register</button>
    <br>

        
    
            <table class='table table-sm' aria-labelledby="tableLabel" style=" border:1px solid;  user-select: none;">  
              <thead style="background-color: #d7bde2;">  
                <tr>  
                  <th scope="col" *ngFor="let column of header">  
                    {{column}}  
                  </th>  
                </tr>  
              </thead>  
              <tbody>  
                <tr *ngFor="let row of RowsData| slice:1;let indexOfElement=index;">  
                    <td  
            
                    (mouseover)="onCellClick( indexOfElement, column )" 
                    (mousedown)="onCellClickSingleClick( indexOfElement, column,$event )" 
                    ondragstart="return false;" ondrop="return false;"
                    *ngFor="let column of header"
                  
                    [style.background]="
                    (column != 'hour' && IsCellClickForEachBarname[indexOfElement][column])? 'green'
                    :(column != 'hour' && IsCellClick[indexOfElement][column])? 'yellow'
                    :(column != 'hour' && RowsData[indexOfElement+1][column] < requestVolume )? 'rgba(0,0,0,0.5)'
                    :(column != 'hour' && RowsDataForColor[indexOfElement+1][column] >= requestVolume )? 'rgba(51,204,102,0.5)'
                    : (column == 'hour')? '#d7bde2': 'rgba(204,51,77,'+((requestVolume-RowsDataForColor[indexOfElement+1][column])/100)+')'"  >  
                   {{row[column]}}
                  </td>  
                </tr>  
              </tbody>  
            </table> 
     
  
     
        
  
</div>

