# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ResourceApp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\dev\workspace\testProgect\ResourceApp\DatingApp.API\.idea\.idea.ResourceApp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
