<div class="container mt-5">
  <form [formGroup]='screenplayRegForm'  (ngSubmit)='register()'>
  <div class="container  text-right">
    <div class="row">
      <div class="col" style="margin-top: 6px;"> 
        <div class="form-group">
          <!-- <label for="screenplayTitleId" >عنوان فیلمنامه</label> -->
          
          <!-- <input type="text" class="form-control" id="screenplayTitleId" placeholder="عنوان فیلمنامه"> -->
          <ejs-autocomplete 
          
           class="" 
          enableRtl='true' floatLabelType="Auto" 
          id='screenplayTitleId' formControlName="Title" 
          loatLabelType="Auto" [dataSource]='eposideTitleData' [placeholder]='text'
          [ngClass]="{'is-invalid':screenplayRegForm.get('Title').errors &&
            screenplayRegForm.get('Title').touched}">
        </ejs-autocomplete> 
        
            <div  class="invalid-feedback">پرکردن این قسمت ضروری است.</div>
          

        </div>
      </div>

      
      <div class="col">
        <div class="form-group">
          <!-- <label for="producer">نویسنده</label> -->
          <ejs-multiselect 
              enableRtl='true' 
              floatLabelType="Auto" 
              id='ddlelement' #samples 
              [dataSource]='dataPerson' 
              [fields]='fieldsPerson' 
              formControlName="writer" 
              [placeholder]='textWriter' 
              [allowFiltering]='true' 
              (filtering)='onFilteringPerson($event)'>a
          </ejs-multiselect>

        </div>
      </div>
    
     
    </div>
    <div class="row">

   
      <div class="col">
        <div class="form-group">
          <!-- <label for="totalNumberEpisodesId">تعداد قسمت</label> -->
          <ejs-numerictextbox min=1 format='n0'  enableRtl='true' floatLabelType="Auto" id='episodeNumber' formControlName="episodeNumber" [placeholder]='textEpisodeNumber'></ejs-numerictextbox>
        </div>
      </div>


      <div class="col" style="margin-top: 16px;">
        <div class="form-group">
          <!-- <label for="formatId" >محتوا</label> -->
<div>
  
</div>
          <ejs-dropdowntree enableRtl='true' id='conceptId'   [fields]='conceptFields'  formControlName="concept" [placeholder]='textConcept' [showCheckBox]='true'></ejs-dropdowntree>

        </div>
      </div>

    </div>
 <div class="">
  
 </div>

    <div class="row">

 


      <div class="col" style="margin-top: 30px;">
        <div class="form-group " style="margin-bottom:15px;direction: ltr; ">
          <!-- <app-upload (onUploadFinished)="uploadFinished($event)" ></app-upload> -->
          <app-upload-test2 (uploadName)="uploadFinished($event)" ></app-upload-test2>
             <!-- <app-upload2 (onUploadFinished)="uploadFinished($event)"></app-upload2> -->
        </div>
      </div>
    </div>


  </div>
  
  





  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)='cancel()'>Cancel</button>
  </div>
  
</form>
</div>
