/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/united/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';

@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';
@import '../src/assets/library/css/persian-datepicker.min.css';



/* @import '../node_modules/fancygrid/client/fancy.min.css'; */

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}


@font-face {
    font-family: 'BTraffic';
     src: url('../src/assets/library/fonts/BTraffic.woff2') format('woff2'),
      url('../src/assets/library/fonts/BVahidBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }


@font-face {
    font-family: 'Dima';
     src: url('../src/assets/library/fonts/DimaShekastehFree.woff2') format('woff2'),
      url('../src/assets/library/fonts/DimaShekastehFree.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }


@font-face {
    font-family: 'Shekaste';
     src: url('../src/assets/library/fonts/Shekasteh.woff2') format('woff2'),
      url('../src/assets/library/fonts/Shekasteh_Beta.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }


@font-face {
    font-family: 'BZar';
     src: url('../src/assets/library/fonts/BZar0.woff2') format('woff2'),
      url('../src/assets/library/fonts/BZar0.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }


  .bt-font{
    font-family: BTraffic;
  }




/* Taein total css  */
body{
    margin: 0;
    padding: 0;
};
.rtl{
    direction: rtl;
   
};


label{
 display: inline-block;
    width: 140px;
    text-align: right;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.br{
    background-color:  rgba(205, 20, 50, 0.2);
    
}
.rtl{
    direction: rtl;
}
