.br{
    background-color:  rgba(205, 20, 50, 0.2);
    
}
.bb{
    /* background-color:  rgba(0, 222, 222, 0.2); */
}
.rtl{
    direction: rtl;
}
.mr{
    margin-right: 0;
}
.ml{
    margin-left: 0;
}

.pd{
    padding: 0;
}
