table {
    width: 880px;
  }
.hide{
display: none !important;
}
th{
  text-align: center !important;
  font-family: BTraffic;
  font-weight: bold;
  font-size: medium;
  background-color: #dcdcdc;
}
td{
  text-align: center !important;
}
.tar{
  /* text-align: right !important; */
}
.font-td{
  font-family: BTraffic;
  
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-sort-header-container {
  display:flex;
  justify-content:center;
}

