<div class="container mt-5">
 <form >
  <div class="container  text-right">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="screenplayTitleId" >عنوان فیلمنامه</label>
          <!-- <input type="text" class="form-control" id="screenplayTitleId" placeholder="عنوان فیلمنامه"> -->
          <ejs-autocomplete enableRtl='true' id='screenplayTitleId' name="screenplayTitle" #book='ngModel' [(ngModel)]='skillForm.screenplayTitle' [dataSource]='titleData' [placeholder]='text'></ejs-autocomplete>

        </div>
      </div>
     
      
    </div>
    <div class="row">

      <div class="col">
        <div class="form-group">
          <label for="organizationalStructureId">ساختار سازمانی</label>
          <select class="form-control" id="organizationalStructureId">
            <option>Default select</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="producer">تهیه کننده</label>
          <ejs-dropdownlist enableRtl='true' id='ddlelement' #samples [dataSource]='dataPerson' [fields]='fieldsPerson' name="producer" #book='ngModel' [(ngModel)]='skillForm.producer' [placeholder]='textProducer' [allowFiltering]='true' (filtering)='onFilteringPerson($event)'>a</ejs-dropdownlist>

        </div>
      </div>


      <div class="col">
        <div class="form-group">
          <label for="baravordId" >شماره برآورد</label>
          <ejs-autocomplete enableRtl='true' id='baravordId' name="baravord" #book='ngModel' [(ngModel)]='skillForm.baravord' [dataSource]='' [placeholder]='textBaravord'></ejs-autocomplete>
        </div>
      </div>

    </div>
 <div class="">
  
 </div>

    <div class="row">

      <div class="col">
        <div class="form-group">
          <label for="totalNumberEpisodesId">تعداد قسمت</label>
          <ejs-autocomplete enableRtl='true' id='totalNumberEpisodesId' name="totalNumberEpisodes" #book='ngModel' [(ngModel)]='skillForm.totalNumberEpisodes' [dataSource]='' [placeholder]='textTotalNumberEpisodes'></ejs-autocomplete>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="formatId" >قالب</label>
          <ejs-dropdownlist enableRtl='true' id='formatId' #samples [dataSource]='dataFormat' [fields]='fieldsFormat' name="format" #book='ngModel' [(ngModel)]='skillForm.format' [placeholder]='textFormat' [allowFiltering]='true' (filtering)='onFilteringFormat($event)'>a</ejs-dropdownlist>

        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="genreId">ژانر</label>
          <select class="form-control" id="genreId">
            <option>Default select</option>
          </select>
        </div>
      </div>
      
    </div>
  </div>
  
  
</form>
</div>



<form #registerForm='ngForm' (ngSubmit)='register()'>
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  

<div class="form-group">
    <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="Username">
  </div>

  <!-- <div class="form-group">
    <label for="favouriteValue">What is your favourite ....?</label>
    <select class="form-control" id="favouriteValue">
      <option *ngFor="let value of valuesFromHome" [value]="value">{{value.name}}</option>
    </select>
  </div> -->

  <div class="form-group">
    <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required name="photoUrl" [(ngModel)]="model.photoUrl" placeholder="photoUrl">
  </div>
  <div class="form-group">
    <input type="text" class="form-control"  placeholder="studentname">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)='cancel()'>Cancel</button>
  </div>
  
</form>